.friend_list {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.1);
  background-color: rgb(230, 230, 230);
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;
  gap: 30px;
  background: linear-gradient(90deg, #ffffff 0%, rgb(230, 230, 230) 99.99%);
}
.item:last-of-type {
  margin-bottom: -0px;
}

.status {
  margin-left: 20px;
  font-size: 16px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
}
